@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  width: 251px;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: auto;
  z-index: 2;
}

.about__content {
  width: 660px;
  padding: 0;
  margin-top: 87px;
  margin-left: auto;
  margin-right: 80px;
  margin-bottom: 159px;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  color: #fff;
  margin: 0 0 20px;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  right: 1303px;
  top: -152px;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  position: absolute;
  right: 1303px;
  top: -152px;

  animation: pulsate 1.3s infinite ease-in-out;
}
