.header {
  background-color: #fff;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: flex;
  flex-direction: column;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: "Noto Serif";
  margin: 28px 0 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
  z-index: 1;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  top: 124px;
  right: 85px;
  z-index: 1;
}
