.menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100px;
  max-width: 1600px;
}

.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 0;
  max-width: 780px;
}

.menu__subtitle {
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 100px auto 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 1180px;
  height: 588px;
  gap: 100px;
}
